#side-menu {
    margin-top: 20px;
    padding: 0;
}

#side-menu li > a {
    display: block;
    padding: 10px 15px;
    font-size: 13px;
    text-decoration: none;
    text-align: left;
    color: #a7b1c2;
}

#side-menu li > a:hover,
#side-menu li > a:focus {
    color: white;
    background-color: none;
}

#side-menu > li > a > i {
    display: inline-block;
    width: 12px;
    margin-right: 8px;
}


#side-menu li {
    list-style: none;
}

#side-menu li.active > .nav {
    display: block;
    padding-left: 18px;
}

#side-menu li > .nav > li > a:hover,
#side-menu li > .nav > li > a:focus {
    color: white;
    background-color: transparent;
}
